<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login | Kotlin Spring Security</title>
    <object th:include="fragments/header :: head"/>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<form th:action="@{/login}" method="post" class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-5 control-label">E-mail *</label>
        <div class="col-sm-2">
            <input type="text" name="username"
                   placeholder="Enter Your Username" class="form-control"
                   title="Enter User Name" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-5 control-label">Password *</label>
        <div class="col-sm-2">
            <input type="password" name="password"
                   placeholder="Enter Your Password" class="form-control"
                   title="Enter Password" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label"> </label> <label
            class="col-sm-4 control-label">
        <div class="col-sm-5">
            <button type="submit" id="btn-save" class="btn btn-primary">Login</button>
        </div>
    </label>
    </div>
</form>

</body>
</html>